# Ignore these please!

# My .env file
.env

# Node Modules
node_modules

# Python virtual environment
backend/venv/

# Python cache files and folders
__pycache__/
**/__pycache__/
*.py[cod]

# Local uploads within backend (ignore all user uploads)
backend/uploads/*
!backend/uploads/cache/      # allow cache folder to exist in Git
backend/uploads/cache/.gitkeep # track empty .gitkeep to ensure folder exists

# References
r_code_ref
